{% extends "base.html" %} 

{% block content %} 
<h3>Edit Member Details</h3>
<div class = "member_edit_container">
<form action="/members/{{member.id}}" method="POST" enctype="multipart/form-data">

<div class="first_name">
<!-- lagel for first_name -->
<label for="first_name">First Name:</label>
<!-- input for first_name -->
<input type="text" id="first_name" name="first_name" value="{{member.first_name}}">
</div>

<!-- label for second_name -->
<label for="second_name">Second Name:</label>
<!-- input for second name -->
<input type="text" id="second_name" name="second_name" value="{{member.second_name}}">

<!-- label for date of birth -->
<label for="date_of_birth">Date of Birth:</label>
<!-- input for date of birth -->
<input type="date" id="date_of_birth" name="date_of_birth" 
    value="{{member.date_of_birth}}">


<!-- label for photo -->
<label for="photo">Change Photo:</label>
<!-- input for photo -->
<input type="file" id="photo" name="photo" >
<div class = "member_photo"><img src="/static/images/{{member.photo}}" alt="member_photo"></div>


<!-- label for platinum -->
<label for="platinum">Membership:</label>
<!-- input for platinum -->
<select id="platinum" name="platinum">

    
    <option value="Basic">Basic</option>
    <option value="Platinum">Platinum</option>
    <option value="Golden">Golden</option>



</select>

</div>

<!-- input to submit form -->
<input type="submit" value="Update Member">
</form>

<a href="/members">Cancel</a>

{% endblock %}