{% extends 'base.html' %}

{% block content %}
<a href="workouts/new"><h3>CREATE NEW WORKOUT</h3></a>
<h3>CURRENT WORKOUTS:</h3>


<div class="gallery">

  {% for workout in workouts %}
  <div class= "workout_container">
  
  <div class="workout_name">
  <a href="workouts/{{workout.id}}">{{ workout.activity.name }}</a>
  </div>
  <div class="workout_trainer">
    with {{workout.activity.trainer}}
  </div>
  <div class="workout_day">
    {{workout.day}} {{workout.time}}:00
  </div>


<div class="workout_photo"><a href="workouts/{{workout.id}}"><img src="static/images/{{workout.activity.photo}}" alt="workout_photo"></a></div>


<div class="workout_capacity">
  Capacity: {{workout.capacity}}
</div>


  

<div class="workout_edit">
  <form action="/workouts/{{ workout.id }}/edit">
    <input class="btn btn--danger" type="submit" value="edit" />
  </form>
</div>

  <div class="workout_delete">
    <form action="/workouts/{{ workout.id }}/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form>
  </div>



</div>
  
  {% endfor %}

</div>

{% endblock %}