{% extends 'base.html' %}

{% block content %}
<a href="workouts/new"><h2>CREATE NEW WORKOUT</h2></a>
<h1>Workouts</h1>




  {% for workout in workouts %}
  
  
  
  <a href="workouts/{{workout.id}}"><p>Activity type:{{ workout.activity.name }}</p></a>
  
  <p>Activity trainer:{{ workout.activity.trainer }}</p>

  <p>Day: {{workout.day}}</p>
  <p>Time: {{workout.time}}:00</p>
  <p>Capacity: {{workout.capacity}}</p>
  <a href="workouts/{{workout.id}}/edit">Edit workout</a>
  __________________________
  
  
  {% endfor %}



{% endblock %}