{% extends 'base.html' %}

{% block content %}
<h1>ADD WORKOUT</h1>

<form action="/workouts" method="post">
  <label for="activity">Select activity:</label>
    <select name="activity_id" id="activity">
      {% for activity in activities %}
      <option value="{{ activity.id }}">{{ activity.name}}</option>
      {% endfor %}
    </select>
  
 
      <label for="day">Select day:</label>
        <select name="day" id="day">         
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Monday">Wednesday</option>
          <option value="Monday">Thursday</option>
          <option value="Monday">Friday</option>
          <option value="Monday">Saturday</option>
          <option value="Monday">Sunday</option>
        </select>
      
        <label for="time">Select day:</label>
        <select name="day" id="day">         
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Monday">Wednesday</option>
          <option value="Monday">Thursday</option>
          <option value="Monday">Friday</option>
          <option value="Monday">Saturday</option>
          <option value="Monday">Sunday</option>
        </select>
      


<!-- label for age -->
<label for="time">Time:</label>
<!-- input for age -->
<input type="text" id="time" name="time" placeholder="Time">

<!-- label for age -->
<label for="room">Room:</label>
<!-- input for age -->
<input type="text" id="room" name="room" placeholder="Room">

<!-- label for age -->
<label for="capacity">Capacity:</label>
<!-- input for age -->
<input type="text" id="capacity" name="capacity" placeholder="Capacity">


  <input class="btn btn--action" type='submit' value="CREATE WORKOUT">
</form>

{% endblock %}