{% extends 'base.html' %}

{% block content %}
<h1>Add a Booking</h1>

<form action="/bookings" method="POST">
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %} 
            <option value="{{member.id}}">
                {{member.first_name}} {{member.second_name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="workout">Workout:</label>
        <select name="workout_id" id="workout">
            {% for workout in workouts %} 
            <option value="{{workout.id}}">
                {{workout.day}}{{workout.activity.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>






</form>


{% endblock %}