{% extends 'base.html' %} 

{% block content %} 
<br>
<a href="/activities/new">ADD NEW ACTIVITY</a>
<h1>Actvities</h1> 

<div class="gallery">
    
    {% for activity in activities %}
    <div class="grid_container">
    <a href="/activities/{{activity.id}}">
        <div class="name">{{activity.name}}</div>
        </a>
        <p>Trainer: {{activity.trainer}}</p>
        <div class="photo"><img src="static/images/{{activity.photo}}" alt="activity_photo"></div>
    </div>
    {% endfor %} 
</div>
<a href="/activities/new">ADD NEW ACTIVITY</a>
{% endblock %}