{% extends 'base.html' %} 

{% block content %} 
<br>
<a href="/activities/new"><h3>ADD NEW ACTIVITY</h3></a>
<h3>CURRENT ACTIVITIES:</h3> 

<div class="gallery">
    
    {% for activity in activities %}
    <div class="activity_container">
        <div class="name">
        <a href="/activities/{{activity.id}}/edit">
        {{activity.name}}
        </a>
    </div>
        <div class="trainer">with {{activity.trainer}}</div>
        <div class="activity_photo"><a href="/activities/{{activity.id}}/edit"><img src="static/images/{{activity.photo}}" alt="activity_photo"></a></div>
</div>
    {% endfor %} 
</div>

{% endblock %}