<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/invisible.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workouts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit.css') }}">
</head>
<body>
<header>
<a class="head_nav" href="/">Home</a>
<a class="head_nav" href="/members">Members</a>
<a class="head_nav" href="/activities">Activities</a>
<a class="head_nav" href="/workouts">Workouts</a>
<a class="head_nav" href="/bookings">Bookings</a>
</header>

    {% block content %} 

    {% endblock %}
</body>
</html>